doctype html
html(lang="ko")
    head 
        title #{pageTitle} | WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    dody
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    if !req.session.loggedIn
                        li 
                            a(href="/join") Join
                        li
                            a(herf="/login") Login
                    li 
                        a(href="/search") Search
                    li 
                        a(href="/videos/upload") Upload Video
            block content
    include partials/footer